.app.dark {
  --bg-color: #1e1e22;
  --inverted-bg-color: #1e1e22;


  --primary-color: #fdfeff;
  --secondary-color: #fdfeff;
  --inverted-primary-color: #fdfeff;
  --inverted-secondary-color: #fdfeff;
}