:root {
  --bg-color: #f3f4f9;
  --inverted-bg-color:  #f3f4f9;

  --primary-color:  #0a0b0f;
  --secondary-color: #0a0b0f;
  --inverted-primary-color: #0a0b0f;
  --inverted-secondary-color: #0a0b0f;
}