.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: var(--navbar-height);
  background: var(--inverted-bg-color);
  padding: 20px;
  border-bottom: 1px solid var(--primary-color);
}

.NavbarRoutes, .NavbarButtons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.Logo {
  display: flex;
  align-items: center;
  justify-content: center;
}